.companies-wrap {
  position: relative;
  z-index: 3;
  width: 100%;
}

.companies-select {
  padding: 0px 20px;
  width: 100%;
  min-height: 34px;
  background-color: #FFFFFF;
  border: 1px solid #868686;
  border-radius: 50px;
  font-size: 14px;
  line-height: 34px;
  color: #868686;
}

.companies-select--open {
  border-radius: 15px 15px 0 0;
  border: 1px solid #66D1C6;
  border-bottom: 0;
}

.companies-select__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies-select__phone {
  position: absolute;
  bottom: -25px;
  left: 20px;
  font-size: 12px;
}

.companies-list {
  z-index: 1;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  list-style: none;
  border-radius: 0 0 15px 15px;
  background-color: white;
  border: 1px solid #66D1C6;
  border-top: none;
}

.companies-list__item {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies-list__item:hover {
  cursor: pointer;
  background-color: #66D1C6;
  color: #FFFFFF;
}

.companies-list__name {
  margin-left: 10px;
}