.form-container {
  padding: 50px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 960px;
  border-radius: 15px;
  background-color: white;
}

.form-heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 53px;
  text-align: center;
}

.form-subheading {
  margin: 50px auto 15px;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
  color: #000000;
}

.form {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__toggle-buttons {
  margin: 20px auto 50px;
}

.form__fields--group {
  border: none;
  width: 100%;
}

.form__two-col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__policy-date {
  position: absolute;
  bottom: -25px;
  left: 20px;
  font-size: 12px;
}

.form__input {
  padding: 0px 20px;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #868686;
  border-radius: 50px;
  font-size: 14px;
  line-height: 34px;
  color: #868686;
}

.form__input:focus {
  color: #000000;
}

.form__input--number {
  margin-right: 25px;
}

.form__autocomplete {
  position: relative;
}

.form__button {
  border: 1px solid #ED462F;
  margin-top: 30px;
  padding: 6px 18px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border-radius: 50px;
  background-color: #ED462F;
  color: white;
}

.form__button--new {
  background-color: #66D1C6;
  border: 1px solid #66D1C6;
}

.form__button:disabled {
  text-align: center;
  background-color: white;
  color: #ED462F;
}